<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="card">
        {{>header}}

        <main>
            <p>Please enter the desired location which you want us to fetch the weather for:</p>
            <form>
                <input type="text" placeholder="Location" class="form"/>
                <button class="btn">Search</button>
            </form>
            <br>
            <section class="rendered-data">
                <p id="ms1"></p><br>
                <p id="ms2"></p><br>
                <p id="ms3"></p><br>
            </section>
        </main>


        {{>footer}}
    </div>
    <script src="/js/app.js"></script>
    
</body>
</html>